body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
  color: #00008B;
}
.container {
  padding: 3px;
}

.row {
   padding: 3px;
}

.accountsUIWrapper {
  background-color: #FFFFE5;
  text-align: center;
}
.panel-default .panel-heading {
  background-color: #FFB76E;
  color: #00008B;
  text-align: center;
}

.panelChat {
background-color: #FFFFE5;
padding: 3px;
color: #00008B;
}

.panelNavigation {
background-color: #FFFFE5;
padding: 3px;
color: #00008B;
}

.jumbotron {
background-color: #FFFFE5;
padding: 15px;
}

.jumbotron .panelJumbotron {
background-color: #FFB76E;
padding: 3px;
text-align: center;
color: #00008B;
}
