/** 
  #################################################
  ###### HEAD AND BODY STYLING ####################
  #################################################
*/

html {
  height: 100%;
  padding: 20px;
}

body {
  font-family: sans-serif;
  background-color: #282828;
  font-size: 18px;
  color: #434343;

  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  height: 100%;
}
.container-full{
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.row {
margin: 0px !important;
}

.col-sm-4 {
  padding: 0px;
  border: 0px;
}

* {
  border-radius: 0 !important;
}


/** 
  #################################################
  ###### PANEL STYLING ############################
  #################################################
*/

.row-panels {
  height: 800px;
}

.panel-headings {
  background-color: #eeeeee;
  color: #434343;
  text-align: left;
  width: 100%;
  height: 60px;
  margin: 0 auto;
} 

.panel-default{
margin: 0px;
padding: 0px;
}

.panel {
  margin: 0px;
  padding: 0px;
  border: 1px solid #dbdbdb;
}

.panel-chat-body{
  height: 85%;
  overflow-y: auto !important;
}

/** 
  ###### PANEL STYLING - NAVIGATION ############################
*/
.panel-navigation {
background-color: #ffffff;
color: #434343;
height: 100%;
}

#search-bar-container{
 background-color: #fbfbfb;
 height: 50px;
 padding: 0px;
}

.accounts-ui-wrapper {
  background-color: #eeeeee;
  background-image: url("profileBubble.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 5% center;
  text-align: left;
  padding-left: 65px;
  color: black;
  height: 100%;
  width: 100%;
}

#login-buttons{
  margin-top: 20px;
}

.username-tab-wrapper{
background-color: #ffffff;
background-repeat: no-repeat;
background-position: 5% center;
height: 72px;
}

.username-tab-username{
  font-size: 16px !important;
  padding-left: 75px;
  padding-top: 20px;

}

.panel-navigation-buttons{
height: 100%;
}

.search-panel-row{
  margin: 0px;
  height: 49px;
  background-color: #fbfbfb;
}
.search-bar {
  height: 94%;
  width: 94%;
  text-align: left;
  margin: 3%;
  font-size: 14px;
  border: 1px solid #eeeeee;
  background-image: url("searchGlyph.png");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 45px;
}




/** 
  ###### PANEL STYLING - CHAT ############################
*/

#render-target > div > div > div.row.row-panels > div.col-xs-8.col-md-8.panel-chat.panel.panel-default > div.panel-headings {
  background-image: url("conversationBubble.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 5% center;
}

.panel-chat-details{
padding:10px 10px 10px 80px;
font-size: 14px;
}

#render-target > div > div > div.row.row-panels > div.col-sm-8.col-md-8.panel-chat.panel.panel-default > div.panel-headings > div > p{
font-size: 12px !important;
}

.panel-chat-header{
margin-top: 10px;
font-size: 16px !important;
}

.panel-chat {
background-color: #ede9e4;
background-image: url("chatBackground.png");
color: #434343;
height: 100%;
}


.panel-chat .img {
  opacity: 0.6;
}

.panel-chat-input{
width: 100%;
padding: 0px;
height: 60px;
background-color: #eeeeee;
position: absolute;
bottom: 0;
}

.panelNavigation {
background-color: rgba(0, 0, 0, 0.5);
padding: 3px;
color: #FFFF00;
height: 500px;
}

.new-message {
  width: 96%;
  height: 40px;
  background-color: #ffffff;
  color: #434343;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  border: none;
  padding-left: 45px;
}

.message-bubble-current-user-wrapper{
  background-color: #dcf8c6;
  border-radius: 10px !important;
  margin-left: 55%;
  margin-right: 5%;
  width: 40%;
  box-shadow: 2px 2px 2px #888888;
  padding-left: 8px;
  padding-top: 8px;
  margin-top: 20px;
  color: black;
}

.message-bubble-current-user-wrapper > img{
position: relative;
right: -99.5%;
}

.message-bubble-current-user-wrapper > p{
margin-bottom: 0px;
}

.message-bubble-current-user-dtg{
  float:right !important;
  color: gray;
  padding-right: 10px;
  font-size: 12px;
}

.message-bubble-other-user-wrapper{
  background-color: #ffffff;
  border-radius: 10px !important;
  color: #35cd96 !important;
  margin-right: 55%;
  margin-left: 5%;
  margin-top: 20px;
  width: 40%;
  box-shadow: 2px 2px 2px #888888;
  padding-left: 8px;
  padding-top: 8px;
}
.message-bubble-other-user-dtg{
  float:right !important;
  color: gray;
  padding-right: 10px;
  font-size: 12px;
}

.message-bubble-other-user-dtg > p{
margin-bottom: 0px;
}

.message-bubble-other-user-wrapper > p{
color: black;
margin: 0px !important;
}

.message-bubble-other-user-wrapper > img{
position: relative;
left: -18px;
}


.btn {
  margin-left: 15px;
  background-color: #FFFF00;
  color: #282828;
}
